body {
    background-image: url(img/star-bg.svg);
    background-color: #141316;
    background-repeat: repeat-x;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
header nav ul {
    display: flex;
    list-style: none;    
    justify-content: center;
}
header nav ul li {
    flex-direction: row;
}
header > nav > ul > li {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
header ul li a {
    text-decoration: none;
    color: #8a8a8a;
    transition: 0.5s;
}
header ul li a:hover {
    border-bottom: 1px solid #8a8a8a;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;  
    height: 1vh;
}
.header-wrapper-title {
    font-weight: 600;
    text-transform: capitalize;
}