@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body, nav ul, nav ul li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/star-bg.svg),linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
    font-family: 'Patrick Hand', helvetica neue, helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: #24292e;

}
 nav ul {
     list-style: none;
     text-align: center;
     padding: 30px;

 }
 nav ul li {
     display: inline-block;
     padding-right: 20px;
     font-size: 30px;
 }
 a {
     text-decoration: none;
     color: white;
 }
 section.insider{
     padding: 13rem 0;
 }
 h1{
     font-size: 70px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    }
    header p {
        font-size: x-large;
        text-align: center;
        font-weight: 300;
        color: rgb(141, 141, 141);
        
    }
    section.post {
        background-color: #f8f1f1e8;
        color: black;
        margin: 50px;
        padding: 5em;
    }
    section.
    footer {
        background: grey;
        padding: 2em;
    }